{# vim: filetype=systemd.jinja2 #}
[Unit]
Description=Forgejo Runner
Documentation=https://forgejo.org/docs/latest/admin/actions/
After=network.target docker.service docker.socket podman.service podman.socket
Requires=network.target

[Service]
ExecStart=/usr/local/bin/forgejo-runner --config /etc/forgejo-runner/config.yml daemon
ExecReload=/bin/kill -s HUP $MAINPID

# This user and working directory must already exist
User={{ forgejo_runner_user }}
WorkingDirectory={{ forgejo_runner_data_path | ansible.builtin.quote }}
Restart=on-failure
TimeoutSec=0
RestartSec=10

[Install]
WantedBy=multi-user.target
