{{ ansible_managed | ansible.builtin.comment }}

{% for key, value in (forgejo_runner_openrc_conf_defaults | ansible.builtin.combine(forgejo_runner_openrc_conf)).items() if value != omit %}
{{ key }}={{ value | ansible.builtin.quote }}
{% endfor %}
